.approved-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.approved-images-container {
    width: calc(100% - 60px);
    height: 50px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.aproved-img {
    height: 50px;
    margin-right: 5px;
    border-radius: 2px;
}

.MuiButton-root.button {
    height: 50px;
    min-width: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.left {
    background-image: url('../../icons/left.svg');
}

.right {
    background-image: url('../../icons/right.svg');
}

.hidden {
    visibility: hidden;
}