.main {
  width: 400px;
  height: 600px;
  margin: auto;
  background-color: rgb(55, 79, 215);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.action-btn button {
  margin: 0 5px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.approve {
  background-image: url('./icons/approve.svg');
}

.reject {
  background-image: url('./icons/reject.svg');
}
